@media screen and (max-width: 576px){
    nav ul{
        display: none;
    }
    img[alt="menu"]{
        display: block;
    }
    .intro{
        display: flex;
        flex-direction: column;
    }
    img[alt="pc-image"]{
        width: 60vw;
    }
    .text-line-1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        font-size: 20px;
    }
    .text-line-2 h1{
        font-size: 40px;
    }
    .text-line-2 h2{
        font-size: 25px;
        text-align: center;
    }
    .project-lists{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        column-gap: 20px;
    }
    img[alt="project-image"]{
        width: 55vw;
    }
    .projects div h1{
        font-size: 35px;
    }
    .contact div h1{
        font-size: 35px;
    }
    .horizontal-divider-contact{
        height: 10px;
        width: 180px;
    }
}